In [18]:
import spacy
nlp = spacy.load('en_core_web_md')

In [23]:
doc = nlp("Enron and Jack Daniels")

In [ ]:
spacy_labels = ["ORG", "PERSON"]

In [29]:
for ent in doc.ents:
    print(ent.end_char-ent.start_char)

5
12

In [30]:
doc.text

'Enron and Jack Daniels'

In [5]:
import pandas as pd
import numpy as np

In [6]:
d = {
    "filename": ["apple", "apple", "apple", "banana", "banana", "banana", "banana"],
    "name":     ["apple1", "apple2", "apple3", "banana1", "banana2", "banana3", "banana4"]
}
df = pd.DataFrame(d)

In [7]:
df["pred_file"] = df.filename.shift(1, fill_value=3)
df["next_file"] = df.filename.shift(-1, fill_value=5)

In [4]:
df["pred_name"] = df.name.shift(1, fill_value=3)
df["pred_name_fix"] = df.apply(lambda row: row.pred_name if row.pred_file == row.filename else np.nan, axis=1)

NameError: ("name 'np' is not defined", 'occurred at index 0')

In [56]:
df["next_name"] = df.name.shift(-1, fill_value=5)

In [71]:
df.loc[:, ["filename", "pred_file", "pred_name_fix"]]

  filename pred_file pred_name_fix
0    apple         3           NaN
1    apple     apple        apple1
2    apple     apple        apple2
3   banana     apple           NaN
4   banana    banana       banana1
5   banana    banana       banana2
6   banana    banana       banana3